---
import { Icon } from "astro-icon/components";
const { classe, animation, delay } = Astro.props;
---
<button
class={"contactButton flex flex-row justify-center items-center gap-2 text-white bg-green-600 hover:bg-green-500 focus:ring-4 focus:outline-none transition focus:ring-green-300 font-medium rounded-lg text-center " +
    classe}
  type="button"
  data-aos={animation}
  data-aos-delay={delay}
  data-aos-duration="800"
>
  <Icon name="mdi:whatsapp" class="text-4xl" /> Contattaci
</button>
