.zoom {
    animation: zoom 8s infinite alternate; /* Cambia il tempo e la modalità di animazione secondo necessità */
  }

  @keyframes zoom {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
      translate-x: 1000px;
    }
  }