---
import Layout from "layouts/Layout.astro";
---
<Layout titolo="Cookie Policy" descrizione="Cookie Policy" index={false}>
    <section class="bg-gray-100">
    <div class="max-w-4xl mx-auto py-10 px-5 text-gray-800">  
    <h1 class="text-3xl font-bold mb-4">Chi siamo</h1>
      <p class="mb-6">L’indirizzo del nostro sito web è: <a href="https://www.maiellaescursioni.it" class="text-blue-600 hover:underline">https://www.maiellaescursioni.it</a></p>

      <!-- Sezione: Dati raccolti -->
      <h2 class="text-2xl font-semibold mb-4">Quali dati personali raccogliamo e perché li raccogliamo</h2>
      
      <!-- Commenti -->
      <div class="mb-6">
        <h3 class="text-xl font-semibold mb-2">Commenti</h3>
        <p class="mb-4">Quando i visitatori lasciano commenti sul sito, raccogliamo i dati mostrati nel modulo dei commenti oltre all’indirizzo IP del visitatore e la stringa dello user agent del browser per facilitare il rilevamento dello spam.</p>
        <p>Una stringa anonimizzata creata a partire dal tuo indirizzo email (altrimenti detta hash) può essere fornita al servizio Gravatar per vedere se lo stai usando. La privacy policy del servizio Gravatar è disponibile qui: <a href="https://automattic.com/privacy/" class="text-blue-600 hover:underline">https://automattic.com/privacy/</a>. Dopo l’approvazione del tuo commento, la tua immagine del profilo è visibile al pubblico nel contesto del tuo commento.</p>
      </div>

      <!-- Media -->
      <div class="mb-6">
        <h3 class="text-xl font-semibold mb-2">Media</h3>
        <p>Se carichi immagini sul sito web, dovresti evitare di caricare immagini che includono i dati di posizione incorporati (EXIF GPS). I visitatori del sito web possono scaricare ed estrarre qualsiasi dato sulla posizione dalle immagini sul sito web.</p>
      </div>

      <!-- Modulo di contatto -->
      <div class="mb-6">
        <h3 class="text-xl font-semibold mb-2">Modulo di contatto</h3>
        <p>Se utilizzi il nostro modulo di contatto, conserveremo email, nome e cognome per il tempo utile al fine di gestire la tua richiesta di supporto.</p>
      </div>

      <!-- Cookie -->
      <div class="mb-6">
        <h3 class="text-xl font-semibold mb-2">Cookie</h3>
        <p>Se lasci un commento sul nostro sito, puoi scegliere di salvare il tuo nome, indirizzo email e sito web nei cookie. Sono usati per la tua comodità in modo che tu non debba inserire nuovamente i tuoi dati quando lasci un altro commento. Questi cookie dureranno per un anno.</p>
        <p>Se hai un account e accedi a questo sito, verrà impostato un cookie temporaneo per determinare se il tuo browser accetta i cookie. Questo cookie non contiene dati personali e viene eliminato quando chiudi il browser.</p>
      </div>

      <!-- Contenuto incorporato -->
      <div class="mb-6">
        <h3 class="text-xl font-semibold mb-2">Contenuto incorporato da altri siti web</h3>
        <p>Gli articoli su questo sito possono includere contenuti incorporati (ad esempio video, immagini, articoli, ecc.). I contenuti incorporati da altri siti web si comportano esattamente allo stesso modo come se il visitatore avesse visitato l’altro sito web.</p>
      </div>

      <!-- Conservazione dei dati -->
      <div class="mb-6">
        <h3 class="text-xl font-semibold mb-2">Per quanto tempo conserviamo i tuoi dati</h3>
        <p>Se lasci un commento, il commento e i relativi metadati vengono conservati a tempo indeterminato. È così che possiamo riconoscere e approvare automaticamente eventuali commenti successivi invece di tenerli in una coda di moderazione.</p>
      </div>

      <!-- Diritti -->
      <div class="mb-6">
        <h3 class="text-xl font-semibold mb-2">Quali diritti hai sui tuoi dati</h3>
        <p>Se hai un account su questo sito, o hai lasciato commenti, puoi richiedere di ricevere un file esportato dal sito con i dati personali che abbiamo su di te, compresi i dati che ci hai fornito. Puoi anche richiedere che cancelliamo tutti i dati personali che ti riguardano.</p>
      </div>

      <!-- Contatti -->
      <div class="mb-6">
        <h3 class="text-xl font-semibold mb-2">Le tue informazioni di contatto</h3>
        <p>Maiella Escursioni<br>+39 376 159 4011<br><a href="mailto:info@maiellaescursioni.it" class="text-blue-600 hover:underline">info@maiellaescursioni.it</a><br>Via Piazza Municipio 22, 66017 Palena (CH)</p>
      </div>
    </div>
    </section>
</Layout>