---
import Layout from "layouts/Layout.astro";
---

<Layout>
  <section class="bg-gray-100">
  <div class="max-w-4xl mx-auto py-10 px-5 text-gray-800">
    <h1 class="text-3xl font-bold mb-6">Privacy Policy</h1>

    <section class="mb-8">
      <h2 class="text-2xl font-semibold mb-2">Indirizzo del nostro sito web</h2>
      <p class="mb-4">
        L’indirizzo del nostro sito web è:
        <a
          href="https://www.boscodisantantonio.it/"
          class="text-blue-500 underline">https://www.boscodisantantonio.it/</a
        >
      </p>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-semibold mb-2">
        Quali dati personali raccogliamo e perché li raccogliamo
      </h2>
      

    <section class="mb-8">
      <h3 class="text-xl font-semibold mb-2">Modulo di contatto</h3>
      <p class="mb-4">
        Se utilizzi il nostro modulo di contatto, conserveremo email, nome e
        cognome per il tempo utile al fine di gestire la tua richiesta di
        supporto.
      </p>
    </section>

    <section class="mb-8">
      <h3 class="text-xl font-semibold mb-2">Cookie</h3>
      <p class="mb-4">
        Se lasci un commento sul nostro sito, puoi scegliere di salvare il tuo
        nome, indirizzo email e sito web nei cookie. Sono usati per la tua
        comodità in modo che tu non debba inserire nuovamente i tuoi dati quando
        lasci un altro commento. Questi cookie dureranno per un anno.
      </p>
      <p class="mb-4">
        Se hai un account e accedi a questo sito, verrà impostato un cookie
        temporaneo per determinare se il tuo browser accetta i cookie. Questo
        cookie non contiene dati personali e viene eliminato quando chiudi il
        browser.
      </p>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-semibold mb-2">
        Con chi condividiamo i tuoi dati
      </h2>
      <p class="mb-4">
        I commenti dei visitatori possono essere controllati attraverso un
        servizio di rilevamento automatico dello spam.
      </p>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-semibold mb-2">
        Le tue informazioni di contatto
      </h2>
      <p class="mb-4">
        Maiella Escursioni<br />
        +39 376 159 4011<br />
        <a
          href="mailto:info@maiellaescursioni.it"
          class="text-blue-500 underline">info@maiellaescursioni.it</a
        ><br />
        Via Piazza Municipio 22 66017 Palena (CH)
      </p>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-semibold mb-2">
        Modalità e luogo di trattamento dei dati
      </h2>
      <p class="mb-4">
        I dati personali sono trattati con strumenti automatizzati per il tempo
        strettamente necessario a conseguire gli scopi per cui sono stati
        raccolti...
      </p>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-semibold mb-2">Tipi di dati trattati</h2>
      <p class="mb-4">
        Dati di navigazione, dati forniti volontariamente dall’utente e cookie
        sono utilizzati per migliorare l'esperienza e garantire il corretto
        funzionamento del sito...
      </p>
    </section>

    <div class="border-t mt-8 pt-4">
      <p class="text-gray-600 text-sm">
        Copyright © 2024 Maiella Escursioni. Tutti i diritti riservati.
      </p>
    </div>
  </div>
  </section>
</Layout>
