---
import ContactButton from "@components/Shared/ContactButton.astro"
import Layout from "layouts/Layout.astro"
---
<Layout titolo="Prova" descrizione="ciao">
<section class="w-full bg-white">
          <ContactButton
          classe="px-3 py-3 md:px-5 md:py-3.5 mt-3 text-xl md:text-xl"
          animation="fade-in"
          delay="1300"
        />
</section>
</Layout>