---
import caroselloJson from "@content/carousel/caroselloattivita.json"
import CarouselWrapper from "./Carousel/CarouselActivity";
---
<section class="py-10 bg-white px-3">
  <h2 class="text-3xl md:text-4xl font-bold mb-8 text-gray-800 text-center">
    Scopri le nostre escursioni
  </h2>
  <div class=" max-w-screen-2xl p-5">
    <CarouselWrapper cards={caroselloJson} client:visible />
  </div>
</section>