---
import ContactButton from "@components/Shared/ContactButton.astro";
import { Image } from "astro:assets";
import autunnoJson from "@content/homeHero/autunno.json";
import primaveraJson from "@content/homeHero/primavera.json";
import invernoJson from "@content/homeHero/inverno.json";
import type { ImageMetadata } from "astro";

// Function to get the current season based on the current month
const getSeason = () => {
  const now = new Date();
  const month = now.getMonth(); // Get the current month (0 = January, 11 = December)

  if (month >= 2 && month <= 4) {
    return "spring"; // Spring (March, April, May)
  } else if (month >= 5 && month <= 7) {
    return "summer"; // Summer (June, July, August)
  } else if (month >= 8 && month <= 10) {
    return "autumn"; // Autumn (September, October, November)
  } else {
    return "winter"; // Winter (December, January, February)
  }
};

// Determine the current season
const currentSeason = getSeason();

// Map images for each season using imported JSON data
const seasonImages = {
  spring: primaveraJson,
  summer: primaveraJson,
  autumn: autunnoJson,
  winter: invernoJson,
};

// Load images dynamically using import.meta.glob
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/img/cms/heroSlide/*.{jpeg,jpg,png,gif,webp}"
);

// Get the images corresponding to the current season
const seasonImage = seasonImages[currentSeason];
---

<div class="w-full h-dvh">
  <!-- Swiper container for image slides -->
  <swiper-container
    effect="fade" 
    speed="2000" 
    autoplay-delay="9000" 
    loop="true"
    fade-effect-cross-fade="true" 
    allow-touch-move="false" 
    class="swiper-wrapper w-full bg-neutral-900 p-0 m-0 relative overflow-x-hidden"
  >
    <!-- Iterate over season images and create slides -->
    {
      seasonImage.Immagini.map((img) => (
        <swiper-slide class="min-h-dvh relative flex justify-center items-center w-full">
          <Image
            src={images[img.src]()}
            alt={img.alt} 
            class="absolute top-0 left-0 object-center w-full h-full object-cover zoom"
            widths={[9000, 1500]} 
            sizes={"100vw"} 
          />
        </swiper-slide>
      ))
    }
    <!-- Overlay content on top of the slides -->
    <div
      class="title absolute inset-0 z-10 w-full h-full flex justify-center items-center bg-black/40 flex-col text-center p-4"
    >
      <span
        class="text-2xl font-bold text-white uppercase md:text-2xl lg:text-3xl"
        data-aos="fade-right"
        data-aos-delay="1000">Benvenuti nel</span
      >
      <h1
        class="text-4xl text-white mt-2 uppercase font-extrabold text-pretty md:text-5xl lg:text-7xl"
        data-aos="fade-up"
        data-aos-delay="1000"
      >
        Bosco di Sant'Antonio
      </h1>
      <h2
        class="text-white text-pretty font-medium text-xl md:text-3xl mt-5"
        data-aos="fade-left"
        data-aos-delay="1000"
      >
        "Un tesoro naturalistico nel cuore dell’Abruzzo"
      </h2>
      <div class="mt-5">
        <ContactButton
          classe="px-3 py-3 md:px-5 md:py-3.5 mt-3 text-xl md:text-xl"
          animation="fade-in"
          delay="1300"
        />
      </div>
    </div>
  </swiper-container>
</div>

<script>
  // Import necessary modules from Swiper
  import { register } from "swiper/element/bundle";
  import "swiper/css";
  import "swiper/element/css/autoplay";
  import "swiper/element/css/effect-fade";
  // Register Swiper custom elements
  register();
</script>

<style>
  /* Define zoom animation for images */
  .zoom {
    animation: zoom 8s infinite alternate; /* Set animation duration and mode */
  }

  /* Keyframes for zoom animation */
  @keyframes zoom {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
      translate-x: 1000px;
    }
  }
</style>
