---
import { Icon } from "astro-icon/components";
---

{/* Cos'è il Bosco di Sant'Antonio Section */}
<section class="pt-16 pb-8 px-5 text-pretty md:px-8 bg-white overflow-x-hidden">
  <div class="max-w-5xl mx-auto">
    <h2
      class="text-3xl md:text-4xl font-bold mb-8 text-gray-800 flex items-center"
      data-aos="fade-left"
    >
      <Icon
        name="mdi:leaf"
        class="mr-5 text-green-500 text-6xl"
        data-aos="fade-down"
      />
      Cos'è il Bosco di Sant'Antonio
    </h2>
    <div class="space-y-4">
      <p class="text-lg font-bold" data-aos="fade-left" data-aos-delay="500">
        "Una delle aree naturalistiche più importanti d'Italia" <i
          class="font-normal">secondo la Società Botanica Italiana. 1971.</i>
      </p>
      <p class="text-lg font-bold" data-aos="fade-left" data-aos-delay="700">
        "La prima riserva naturale guidata Regionale" <i class="font-normal"
          >Regione Abruzzo 1985.
        </i>
      </p>
      <p class="text-lg font-bold" data-aos="fade-left" data-aos-delay="900">
        "Area di Massima tutela del Parco Nazionale della Maiella" <i
          class="font-normal">Parco Nazionale della Maiella. 1991</i>
      </p>
      <p class="text-lg pt-5" data-aos="fade-left" data-aos-delay="1000">
        Il Bosco di Sant'Antonio conosciuto anche come "Bosco della Difesa" è
        una delle aree naturalistiche più importanti d'Italia, cuore verde
        dell'Abruzzo.
      </p>
    </div>
  </div>
  <hr
    class="w-48 h-1 mx-auto my-8 bg-green-100 border-0 rounded md:my-10 "
  />
</section>
