---
import { Icon } from "astro-icon/components";
---

<!-- Dove si trova Section -->
<section
  id="sezione2"
  class="py-16 px-4 md:px-8 bg-slate-100 overflow-x-hidden flex justify-center items-center"
>
  <div class="max-w-5xl mx-auto">
    
    <div class="flex flex-col md:flex-row items-center gap-8">
      <div class="md:w-1/2" data-aos="fade-in" data-aos-delay="500">
        <h2
      class="text-3xl md:text-4xl font-bold mb-8 text-gray-800 flex items-center"
      data-aos="fade-left"
    >
      <Icon
        name="mdi:map-search-outline"
        class="mr-2 text-green-500 text-6xl"
        data-aos="fade-down"
        data-aos-anchor-placement="top-center"
      />
      Dove si trova
    </h2>
        <p class="text-lg mb-4">
          Siamo in Abruzzo, area italiana che vanta il titolo di Regione Verde
          d'Europa (ricoperta per più del 30% da parchi nazionali, riserve
          regionali e oasi).
        </p>
        <p class="text-lg">
          Il Bosco si trova nel Comune di Pescocostanzo (AQ) uno dei Borghi Più
          Belli d'Italia e Comune del Parco Nazionale della Maiella, divenuto
          dal 2021 Geoparco Mondiale dell'UNESCO sotto il nome di "Maiella
          Geopark" entrando così a far parte delle aree naturalistiche più
          importanti del mondo.
        </p>
      </div>
      <div class="md:w-1/2 w-full h-96">
        <iframe
        title="Mappa bosco di sant'antonio"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3701.5803023531284!2d14.026822976762436!3d41.94774537123424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1330696d9d11566d%3A0x34325aabff9e08e6!2sBosco%20di%20Sant'Antonio!5e1!3m2!1sit!2sit!4v1729434488365!5m2!1sit!2sit"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="w-full mx-auto h-full rounded-xl shadow-lg"
          data-aos="zoom-in"
          data-aos-delay="700"
          ></iframe>
      </div>
    </div>
  </div>
</section>
